name: Deploy Vue App to GitHub Pages

on:
  push:
    branches:
      - main # деплой при пуше в main

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # 1. Клонируем репозиторий
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2. Устанавливаем Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      # 3. Устанавливаем зависимости
      - name: Install dependencies
        run: npm ci

      # 4. Собираем проект
      - name: Build
        run: npm run build

      # 5. Загружаем артефакт для Pages с уникальным именем
      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: ./dist
          name: github-pages-${{ github.run_id }} # уникальное имя

      # 6. Деплоим на GitHub Pages
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v1
        with:
          artifact_name: github-pages-${{ github.run_id }}
